html{
    max-width: 900px;
    margin: 0 auto;
}

body{
    margin: 0;
    font-size: 16px;
    background: #696969;
    word-wrap : break-word;
    overflow-wrap : break-word;
}

main{
    margin: 0 30px;
    padding: 15px 20px;
    background: #fff;
}
@media screen and (max-width:650px){
main{
    margin: 0 10px;
    padding: 15px 10px;
}
}

a{
    color: #FF0000;
    text-decoration: none;
}

nav{
    z-index: 100;
    background: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
nav ul{
    display:table;
	margin: 10px 0;
	padding: 0;
}
nav ul li{
	display:table-cell;
    width: 1%;
    border-right: 1px solid #ddd;
}
nav ul li:last-child {
  border-right: 0;
}
nav ul li a{
    color: #ddd
}

h1{
    margin: 20px 30px 15px 30px;
    padding: 0 10px;
    text-align: left;
    color: #fff;
    letter-spacing: 2px;
	text-align: center;
    font-size: 24px;
    text-shadow:
    0 1px #999,
    0 2px #888,
    0 3px #777,
    0 4px #666,
    0 5px #555,
    0 6px #444,
    0 7px #333;
}

.headline{
	padding: 2px 0;
	border: 3px double #990000;
	text-align: center;
    color: #990000;
}

.sub-headline{
    font-size: 20px;
    border-bottom: solid 2px #e597b2;
    position: relative;
    margin: 10px 0;
    padding-left: 2px;
}
.sub-headline::after{
    content: "";
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 30%;
    border-bottom: 2px solid #990000;
}

ol.list-bib{
    padding: 0 0 0 5px ;
    margin: 10px 0;
    list-style-type: none;
    counter-reset: cnt-bib;
}
ol.list-bib li:before{
    display: marker;
    counter-increment: cnt-bib;
    content: "[" counter(cnt-bib) "] ";
}
ol.list-mypaper li:before{
    display: marker;
    counter-increment: cnt-mypaper;
    content: "[" counter(cnt-mypaper) "] ";
}

.profile-card{
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    background: #ffebeb;
}
.profile-card_inner{
    position: relative;
}
.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
}
.profile-thumb img{
    display: block;
    width: 100%;
    height: auto;
}
.profile-content{
    padding: 15px;
}
.profile-content span{
    display: block;
    text-align: center;
}
.profile-name{
    font-weight: bold;
    font-size: 18px;
}
.profile-ename{
    font-size: 14px;
    margin-bottom: 10px;
}

table.profile{
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-size: 18px;
    width: 100%;
    margin: 10px 0;
}
table.profile th,
table.profile td{
    padding: .5em;
}
table.profile th{
    background: #990000;
    vertical-align: middle;
    text-align: left;
    width: 75px;
    overflow: visible;
        position: relative;
    color: #fff;
    font-size: 18px;
}
table.profile td{
    background: #F3F4F5;
    border: 1px solid #ccc;
    padding-left: 15px;
}
table.profile th:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    position: absolute;
    pointer-events: none;
    border-left-color: #990000;
    border-width: 1.25em;
    margin-top: -1.25em;
}
table.profile td{
    padding-left: 35px;
}

.box{
    border: 1px solid #ccc;
    margin: 15px 0;
}
.box-title{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold; 
    color: #990000;
    background-color: #ffebeb;
}
.box p {
    padding: 0 10px;
}

footer{
    margin: 15px 0 25px 0;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}